<!doctype html>
<html>
  <%- await include('../src/ejs/head.ejs'); %>

  <body>
    <p class="text-lg bg-green-100 p-8">
      hello <span class="text-3xl text-gray-800 font-bold"> my friend,  </span> welcome to <span class="text-3xl text-blue-500 font-bold">EAT</span>, aka. Ejs, Alphinjs and Tailwind
    </p>
    <hr>
    <p>
      From boot  <%= text %>
    </p>

    <h1> Hello ejs </h1>
    <hr>
    <p> EJS import </p>

    <% let uuid = await import('uuid') %>
    <p> Uuid <span><%= uuid.v4() %><span> </p>
    <p> Uuid <span><%= uuid.v4() %><span> </p>
    <hr>
    <p> From ejs include </p>

    <%- await include('../src/ejs/show', {user: 'jack'}); %>
    <hr>
    <p>From official alphinjs example</p>
    <div x-data="{ open: false }">
      <button @click="open = true">Open Dropdown</button>

      <ul x-show="open" @click.away="open = false">
        Dropdown Body
      </ul>
    </div>
    <hr>
    <p>From official spruce example</p>

    <div x-data>
      <div x-show="$store.modal.open === 'login'">
        <p>
          This "login" modal isn't built with a11y in mind, don't actually use it
        </p>
      </div>
    </div>

    <div x-data>
      <div x-show="$store.modal.open === 'register'">
        <p>
          This "register" modal isn't built with a11y in mind, don't actually use it
        </p>
      </div>
    </div>

    <div x-data>
      <select x-model="$store.modal.open">
        <option value="login" selected>login</option>
        <option value="register">register</option>
      </select>
    </div>

    <%- await include('../src/ejs/spruce.ejs'); %>
    <%- await include('../src/ejs/livereload.ejs'); %>

  </body>
</html>
